body {
  margin: 20px;
  font-family: Arial, sans-serif;
}

li {
  margin-bottom: 10px;
}

.done {
  text-decoration: line-through;
  color: gray;
}

.delete {
  margin-left: 10px;
  cursor: pointer;
}
